    <div class=${baseClass}>
        <ul class="${baseClass}Ul" data-dojo-attach-point="ulNode">
            <li class="${baseClass}UlLi"><img class="${baseClass}UlLiImg" src="" data-dojo-attach-point="imgNode" ></li>
        </ul>
        <ol class="${baseClass}OlBtn" data-dojo-attach-point="barNode"></ol>
        <div class="${baseClass}Div">
            <span class="${baseClass}DivleftBtn" data-dojo-attach-point="leftBtnNode" data-dojo-attach-event="onclick:left"> < </span>
            <span class="${baseClass}DivrightBtn" data-dojo-attach-point="rightBtnNode" data-dojo-attach-event="onclick:right"> > </span>
        </div>
    </div>
    