<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div id="example1">
        <input type="text" v-model.lazy="message1" placeholder="edit me">
        <p>Message is {{ message1 }}</p>
        <br />
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message2 }}</p>
        <br />
        <textarea v-model="message2" placeholder="add multiple lines"></textarea>
    </div>
    <div id="example2">
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
    </div>
    <div id='example3'>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>
    <div id="example4">
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br />
        <span>Picked: {{ picked }}</span>
    </div>
    <div id="example5">
        <select v-model="selected" multiple>
            <option disabled>请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <div id="example6">
        <select v-model="selected">
            <option v-for="option in options" :value="option.value">{{ option.text }}</option>
        </select>
        <span>Selected: {{ selected }}</span>
        <input type="checkbox" v-model="toggle" true-value="yes" false-value="no" id="checkbox">
        <span>{{ toggle }}</span>
    </div>
    <div id="blog-posts-events-demo">
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post v-for="post in posts" @enlarge-text="postFontSize += $event" :key="post.id" :post="post"></blog-post>
        </div>
    </div>
    <div id="components-demo">
        <!-- 组件是可复用的Vue实例，带有一个名字 button-counter 
        通过new Vue创建Vue根实例 把组件作为自定义元素来使用 -->
        <button-counter></button-counter>
        <!-- 组件可进行任意次数的复用 
        每用一次组件，就会有一个它的新实例被创建 -->
        <button-counter></button-counter>
    </div>
    <div id="input-component">
        <!-- <custom-input :value="price" @input="price=$event"></t-input> -->
        <custom-input v-model="price"></custom-input>
        <p>Text is: {{ price }}</p>
    </div>
    <div id="slot-demo">
        <alert-box>Something bad happened</alert-box>
    </div> 
    <div id="dynamic-component-demo" class="demo">
        <button
          v-for="tab in tabs"
          :key="tab" 
          :class="['tab-button', { active: currentTab === tab }]" 
          @click="currentTab = tab"
        >{{ tab }}</button>
        <component :is="currentTabComponent" class="tab"></component>
    </div>
    <div id="testcomponent">
        <my-checkbox></my-checkbox>
    </div>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.component('my-checkbox', {
            template:'<div class="checkbox-wrapper"><div class="check"></div><div class="title"></div></div>',
        });
        var testcomponent = new Vue({
            el: '#testcomponent',
            methods:{
                check: function () {

                }
            }
        })
        // 动态组件
        Vue.component('tab-home', {
            template: `<div>Home component</div>`
        })
        Vue.component('tab-posts', {
            template: `<div>Posts component</div>`
        })
        Vue.component('tab-archive', {
            template: `<div>Archive component</div>`
        })
        new Vue({
            el: '#dynamic-component-demo',
            data: {
                currentTab: 'Home',
                tabs: ['Home', 'Posts', 'Archive']
            },
            computed: {
                currentTabComponent: function () {
                    return 'tab-' + this.currentTab.toLowerCase()
                }
            }
        })
        // 定义一个弹框组件
        Vue.component('alert-box', {
            template:  `
            <div class="demo-alert-box">
                <strong>Error!</strong>
                <slot></slot>
            </div>
            `
        });
        var slotdemo = new Vue({
            el: '#slot-demo',

        })

        // 定义一个输入框组件
        Vue.component('custom-input', {
            props: ['label', 'value'], // 为什么这里一定要设置为value？默认情况下，一个组件上的 v-model 会把 value 用作 prop 且把 input 用作 event）
            template: `
             <input 
             :value="value" 
             v-on="inputListeners"
             
             >
            `,
            computed: {
                inputListeners: function () {
                    var vm = this
                    // Object.assign 将所有的对象合并为一个新对象
                    return Object.assign({},
                    // 从父级添加所有的监听器
                        this.$listeners,
                        // 添加自定义监听器
                        // 覆写一些监听器的行为
                        {
                            input: function (event) {
                                vm.$emit('input', event.target.value)
                            }
                        })
                }
            }
        });
        var inputComponent = new Vue({
            el: '#input-component',
            data: {
                price: '100'
            }
            
        })
        // 定义一个名为 button-counter 的新组件
        Vue.component('button-counter', {
            // 这里的data不是直接提供一个对象，而是一个函数
            // ：因此每个实例可以维护一份被返回对象的的独立的拷贝
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button @click="count++">You clicked me {{ count }} times. </button>'
        });
        var buttoncounter = new Vue({
            el: '#components-demo'
        })
        // 定义一个博文组件
        Vue.component('blog-post', {
            props: ['post'],
            template: `
                <div class="blog-post">
                    <h3>{{ post.title }}</h3>
                    <button @click="$emit('enlarge-text', 0.1)"> Enlarge text </button>
                    <div v-html="post.content"></div>
                </div>
            `
        })
        var blogdemo = new Vue({
            el: '#blog-posts-events-demo',
            data: {
                posts: [{
                        id: 1,
                        title: 'My journey with Vue'
                    },
                    {
                        id: 2,
                        title: 'Blogging with Vue'
                    },
                    {
                        id: 3,
                        title: 'Why Vue is so fun'
                    }
                ],
                postFontSize: 1
            }
        })
        var example6 = new Vue({
            el: '#example6',
            data: {
                selected: 'A',
                options: [{
                        text: 'One',
                        value: 'A'
                    },
                    {
                        text: 'Two',
                        value: 'B'
                    },
                    {
                        text: 'Three',
                        value: 'C'
                    }
                ],
                toggle: []
            }
        });
        example6.options.push({
            text: 'Four',
            value: 'D'
        })
        var example5 = new Vue({
            el: '#example5',
            data: {
                selected: []
            }
        })
        var example4 = new Vue({
            el: '#example4',
            data: {
                picked: ''
            }
        })
        var example3 = new Vue({
            el: '#example3',
            data: {
                checkedNames: []
            }
        })
        var example2 = new Vue({
            el: '#example2',
            data: {
                checked: false
            }
        })
        var example1 = new Vue({
            el: '#example1',
            data: {
                message1: '',
                message2: ''
            }
        })
    </script>
</body>

</html>